In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%precision 5

'%.5f'

In [4]:
plt.rcParams['font.family'] = 'Malgun Gothic'

In [3]:
df = pd.read_csv('log_push.csv')
df

     log_date  push_count
0    19-02-01      736729
1    19-02-02      511067
2    19-02-03      528724
3    19-02-04      709256
4    19-02-05      740087
..        ...         ...
343  20-01-10     1000151
344  20-01-11      729593
345  20-01-12      748161
346  20-01-13     1034195
347  20-01-14     1067085

[348 rows x 2 columns]

In [5]:
df.dtypes

log_date      object
push_count     int64
dtype: object

In [6]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.sandbox.stats.multicomp import MultiComparison

In [10]:
import pingouin as pg

In [11]:
df.head()

   log_date  push_count
0  19-02-01      736729
1  19-02-02      511067
2  19-02-03      528724
3  19-02-04      709256
4  19-02-05      740087

In [12]:
pd.to_datetime(df['log_date'], format='%y-%m-%d')

0     2019-02-01
1     2019-02-02
2     2019-02-03
3     2019-02-04
4     2019-02-05
         ...
343   2020-01-10
344   2020-01-11
345   2020-01-12
346   2020-01-13
347   2020-01-14
Name: log_date, Length: 348, dtype: datetime64[ns]