In [57]:
import pandas as pd

In [58]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

불필요 컬럼




목표 피쳐 : accident_risk

In [59]:
train_df.shape

(517754, 14)

In [60]:
train_df.isna().sum()

id                        0
road_type                 0
num_lanes                 0
curvature                 0
speed_limit               0
lighting                  0
weather                   0
road_signs_present        0
public_road               0
time_of_day               0
holiday                   0
school_season             0
num_reported_accidents    0
accident_risk             0
dtype: int64

In [61]:
train_df.nunique()

id                        517754
road_type                      3
num_lanes                      4
curvature                    261
speed_limit                    5
lighting                       3
weather                        3
road_signs_present             2
public_road                    2
time_of_day                    3
holiday                        2
school_season                  2
num_reported_accidents         8
accident_risk                 98
dtype: int64

In [12]:
train_df[['curvature','speed_limit','num_reported_accidents']].describe().style.background_gradient(cmap='Blues')

In [62]:
train_df['num_reported_accidents'].unique()

array([1, 0, 2, 3, 4, 5, 6, 7])

In [63]:
train_df['lighting'].unique()

array(['daylight', 'dim', 'night'], dtype=object)

In [64]:
train_df.drop(columns='id',inplace=True)
test_df.drop(columns='id',inplace=True)

In [65]:
train_df.head()

,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [66]:
test_df.head()

,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents
0,highway,2,0.34,45,night,clear,True,True,afternoon,True,True,1
1,urban,3,0.04,45,dim,foggy,True,False,afternoon,True,False,0
2,urban,2,0.59,35,dim,clear,True,False,afternoon,True,True,1
3,rural,4,0.95,35,daylight,rainy,False,False,afternoon,False,False,2
4,highway,2,0.86,35,daylight,clear,True,False,evening,False,True,3

In [67]:
train_df['road_type'].unique()

array(['urban', 'rural', 'highway'], dtype=object)

In [68]:
map_col = {'urban' : 0,
           'rural' : 1,
           'highway' : 2
          }

In [69]:
train_df['road_type'] = train_df['road_type'].map(map_col)

In [70]:
train_df['lighting'].unique()

array(['daylight', 'dim', 'night'], dtype=object)

In [71]:
map_col2 = {'daylight' : 0,
            'dim' : 1,
            'night' : 2
           }

In [72]:
train_df['lighting'] = train_df['lighting'].map(map_col2)

In [73]:
train_df.head()

,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,2,0.06,35,0,rainy,False,True,afternoon,False,True,1,0.13
1,0,4,0.99,35,0,clear,True,False,evening,True,True,0,0.35
2,1,4,0.63,70,1,clear,False,True,morning,True,False,2,0.30
3,2,4,0.07,35,1,rainy,True,True,morning,False,False,1,0.21
4,1,1,0.58,60,0,foggy,False,False,evening,True,False,1,0.56

In [74]:
train_df['weather'].unique()

array(['rainy', 'clear', 'foggy'], dtype=object)

In [75]:
map_col3 = {'rainy' : 0,
            'clear' : 1,
            'foggy' : 2
           }
train_df['weather'] = train_df['weather'].map(map_col3)

In [76]:
train_df['time_of_day'].unique()

array(['afternoon', 'evening', 'morning'], dtype=object)

In [78]:
map_col4 = {'afternoon' :  0,
            'evening' : 1,
            'morning' : 2
           }
train_df['time_of_day'] = train_df['time_of_day'].map(map_col4)

In [79]:
X = train_df.drop(columns='accident_risk')
y = train_df['accident_risk']

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [86]:
X_train.head()

,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents
485703,1,2,0.46,25,1,1,True,True,0,False,False,1
264305,0,4,0.78,35,2,2,True,True,1,True,True,3
470487,2,4,0.16,45,1,2,True,True,0,False,False,2
338483,1,2,0.68,45,1,0,True,False,1,True,False,2
274359,1,1,0.01,25,1,1,True,False,2,True,False,1

In [ ]:
from lazypredict.Supervised import LazyRegressor
reg = LazyRegressor(verbose=0)
models, predictions = reg.fit(X_train[:30000], X_val[:30000], y_train[:30000], y_val[:30000])

print(models)