In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\workspaces\\전처리 데이터'

In [3]:
df = pd.read_csv('보훈대상자 평균 개인소득 2024.csv')
df.head()

,Unnamed: 0,C1_OBJ_NM,C2_NM,DT,C1_NM,UNIT_NM,ITM_NM,C2_OBJ_NM,TBL_NM
0,0,특성별,전체(경상소득),3021,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
1,1,특성별,근로소득,896,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
2,2,특성별,사업소득,258,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
3,3,특성별,재산소득,172,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
4,4,특성별,사적이전소득,106,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득

In [4]:
# 불필요한 컬럼 제거
rem = ['Unnamed: 0','C1_OBJ_NM','UNIT_NM','ITM_NM','C2_OBJ_NM']

df.drop(columns = rem, inplace = True)
df

        C2_NM    DT    C1_NM         TBL_NM
0    전체(경상소득)  3021       전체  보훈대상자 평균 개인소득
1        근로소득   896       전체  보훈대상자 평균 개인소득
2        사업소득   258       전체  보훈대상자 평균 개인소득
3        재산소득   172       전체  보훈대상자 평균 개인소득
4      사적이전소득   106       전체  보훈대상자 평균 개인소득
..        ...   ...      ...            ...
97       근로소득  2007  보훈보상대상자  보훈대상자 평균 개인소득
98       사업소득   398  보훈보상대상자  보훈대상자 평균 개인소득
99       재산소득   112  보훈보상대상자  보훈대상자 평균 개인소득
100    사적이전소득    41  보훈보상대상자  보훈대상자 평균 개인소득
101    공적이전소득  1187  보훈보상대상자  보훈대상자 평균 개인소득

[102 rows x 4 columns]

In [5]:
# 인덱스 C1_NM으로 설정
df.set_index('C1_NM',inplace=True)

In [6]:
df

            C2_NM    DT         TBL_NM
C1_NM
전체       전체(경상소득)  3021  보훈대상자 평균 개인소득
전체           근로소득   896  보훈대상자 평균 개인소득
전체           사업소득   258  보훈대상자 평균 개인소득
전체           재산소득   172  보훈대상자 평균 개인소득
전체         사적이전소득   106  보훈대상자 평균 개인소득
...           ...   ...            ...
보훈보상대상자      근로소득  2007  보훈대상자 평균 개인소득
보훈보상대상자      사업소득   398  보훈대상자 평균 개인소득
보훈보상대상자      재산소득   112  보훈대상자 평균 개인소득
보훈보상대상자    사적이전소득    41  보훈대상자 평균 개인소득
보훈보상대상자    공적이전소득  1187  보훈대상자 평균 개인소득

[102 rows x 3 columns]

In [7]:
#인덱스 고유값 확인 
df.index.unique()

Index(['전체', '남성', '여성', '40대 이하', '50대', '60대', '70대', '80대 이상', '독립유공자',
       '국가유공자(본인)', '국가유공자(유족)', '5·18민주유공자', '참전유공자', '고엽제', '특수임무유공자',
       '제대군인', '보훈보상대상자'],
      dtype='object', name='C1_NM')

In [8]:
# 특정 인덱스 애들 꺼내서 데이터프레임을 만듦
man = ['국가유공자(본인)', '국가유공자(유족)', '고엽제', '참전유공자', '특수임무유공자']

dfs = df.loc[df.index.isin(man)]

In [9]:
dfs.index.unique()

Index(['국가유공자(본인)', '국가유공자(유족)', '참전유공자', '고엽제', '특수임무유공자'], dtype='object', name='C1_NM')

In [10]:
# 연도 컬럼 생성하기. 연도 옆에 row 수 만큼 곱해주면됌
연도 = [2024] * 30

In [11]:
dfs['연도'] = 연도

C:\Users\dino1\AppData\Local\Temp\ipykernel_25404\4164005312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs['연도'] = 연도

In [12]:
dfs

              C2_NM    DT         TBL_NM    연도
C1_NM
국가유공자(본인)  전체(경상소득)  3884  보훈대상자 평균 개인소득  2024
국가유공자(본인)      근로소득   958  보훈대상자 평균 개인소득  2024
국가유공자(본인)      사업소득   206  보훈대상자 평균 개인소득  2024
국가유공자(본인)      재산소득   229  보훈대상자 평균 개인소득  2024
국가유공자(본인)    사적이전소득    66  보훈대상자 평균 개인소득  2024
국가유공자(본인)    공적이전소득  2425  보훈대상자 평균 개인소득  2024
국가유공자(유족)  전체(경상소득)  2441  보훈대상자 평균 개인소득  2024
국가유공자(유족)      근로소득   608  보훈대상자 평균 개인소득  2024
국가유공자(유족)      사업소득   284  보훈대상자 평균 개인소득  2024
국가유공자(유족)      재산소득   165  보훈대상자 평균 개인소득  2024
국가유공자(유족)    사적이전소득   125  보훈대상자 평균 개인소득  2024
국가유공자(유족)    공적이전소득  1261  보훈대상자 평균 개인소득  2024
참전유공자      전체(경상소득)  2055  보훈대상자 평균 개인소득  2024
참전유공자          근로소득   182  보훈대상자 평균 개인소득  2024
참전유공자          사업소득   131  보훈대상자 평균 개인소득  2024
참전유공자          재산소득   168  보훈대상자 평균 개인소득  2024
참전유공자        사적이전소득   151  보훈대상자 평균 개인소득  2024
참전유공자        공적이전소득  1423  보훈대상자 평균 개인소득  2024
고엽제        전체(경상소득)  2422  보훈대상자 평균 개인소득  2024
고엽제            근로소득   148  보훈대상자 평균 개인소득  2024
고엽제            사업소득   177  보훈대상자 평균 개인소득  2024
고엽제            재산소득   126  보훈대상자 평균 개인소득  2024
고엽제          사적이전소득   141  보훈대상자 평균 개인소득  2024
고엽제          공적이전소득  1830  보훈대상자 평균 개인소득  2024
특수임무유공자    전체(경상소득)  2948  보훈대상자 평균 개인소득  2024
특수임무유공자        근로소득  1861  보훈대상자 평균 개인소득  2024
특수임무유공자        사업소득   489  보훈대상자 평균 개인소득  2024
특수임무유공자        재산소득    79  보훈대상자 평균 개인소득  2024
특수임무유공자      사적이전소득    95  보훈대상자 평균 개인소득  2024
특수임무유공자      공적이전소득   424  보훈대상자 평균 개인소득  2024

In [22]:
dfs = dfs.rename(columns={
    "C2_NM": "소득종류",
    "DT": "소득",
    "TBL_NM": "테이블명",
    "연도": "연도"
})
dfs.index.name = "구분"

In [23]:
dfs

               소득종류    소득           테이블명    연도
구분
국가유공자(본인)  전체(경상소득)  3884  보훈대상자 평균 개인소득  2024
국가유공자(본인)      근로소득   958  보훈대상자 평균 개인소득  2024
국가유공자(본인)      사업소득   206  보훈대상자 평균 개인소득  2024
국가유공자(본인)      재산소득   229  보훈대상자 평균 개인소득  2024
국가유공자(본인)    사적이전소득    66  보훈대상자 평균 개인소득  2024
국가유공자(본인)    공적이전소득  2425  보훈대상자 평균 개인소득  2024
국가유공자(유족)  전체(경상소득)  2441  보훈대상자 평균 개인소득  2024
국가유공자(유족)      근로소득   608  보훈대상자 평균 개인소득  2024
국가유공자(유족)      사업소득   284  보훈대상자 평균 개인소득  2024
국가유공자(유족)      재산소득   165  보훈대상자 평균 개인소득  2024
국가유공자(유족)    사적이전소득   125  보훈대상자 평균 개인소득  2024
국가유공자(유족)    공적이전소득  1261  보훈대상자 평균 개인소득  2024
참전유공자      전체(경상소득)  2055  보훈대상자 평균 개인소득  2024
참전유공자          근로소득   182  보훈대상자 평균 개인소득  2024
참전유공자          사업소득   131  보훈대상자 평균 개인소득  2024
참전유공자          재산소득   168  보훈대상자 평균 개인소득  2024
참전유공자        사적이전소득   151  보훈대상자 평균 개인소득  2024
참전유공자        공적이전소득  1423  보훈대상자 평균 개인소득  2024
고엽제        전체(경상소득)  2422  보훈대상자 평균 개인소득  2024
고엽제            근로소득   148  보훈대상자 평균 개인소득  2024
고엽제            사업소득   177  보훈대상자 평균 개인소득  2024
고엽제            재산소득   126  보훈대상자 평균 개인소득  2024
고엽제          사적이전소득   141  보훈대상자 평균 개인소득  2024
고엽제          공적이전소득  1830  보훈대상자 평균 개인소득  2024
특수임무유공자    전체(경상소득)  2948  보훈대상자 평균 개인소득  2024
특수임무유공자        근로소득  1861  보훈대상자 평균 개인소득  2024
특수임무유공자        사업소득   489  보훈대상자 평균 개인소득  2024
특수임무유공자        재산소득    79  보훈대상자 평균 개인소득  2024
특수임무유공자      사적이전소득    95  보훈대상자 평균 개인소득  2024
특수임무유공자      공적이전소득   424  보훈대상자 평균 개인소득  2024

In [24]:
dfs.to_csv('보훈대상자 평균 개인소득 2024 전처리.csv')

In [21]:
dfs_wide = dfs.pivot_table(
    index=["연도", "소득종류"],  # 행: 연도 + 소득종류
    columns="구분",              # 가로로 펼칠 값
    values="소득",               # 채울 값
).reset_index()

dfs_wide

구분    연도      소득종류     고엽제  국가유공자(본인)  국가유공자(유족)   참전유공자  특수임무유공자
0   2024    공적이전소득  1830.0     2425.0     1261.0  1423.0    424.0
1   2024      근로소득   148.0      958.0      608.0   182.0   1861.0
2   2024      사업소득   177.0      206.0      284.0   131.0    489.0
3   2024    사적이전소득   141.0       66.0      125.0   151.0     95.0
4   2024      재산소득   126.0      229.0      165.0   168.0     79.0
5   2024  전체(경상소득)  2422.0     3884.0     2441.0  2055.0   2948.0