In [1]:
import pandas as pd

playground_df = pd.read_csv('train.csv')
playground_df.head(10)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1
5,5,24,admin.,single,secondary,no,1882,yes,no,cellular,20,apr,1010,3,-1,0,unknown,0
6,6,39,blue-collar,married,secondary,no,0,no,no,telephone,21,nov,90,1,-1,0,unknown,0
7,7,50,admin.,single,secondary,no,1595,no,no,telephone,31,jul,49,25,-1,0,unknown,0
8,8,46,blue-collar,married,primary,no,1463,no,no,cellular,4,aug,50,1,-1,0,unknown,0
9,9,39,management,divorced,tertiary,no,25,yes,no,cellular,8,may,119,1,-1,0,unknown,0

## 컬럼 설명 
- id             : id 번호 
- age            : 나이
- job            : 직업
- marital        : 결혼 여부
- education      : 교육 수준
- default        : 신용 불량 여부         
- balance        : 계좌 잔고
- housing        : 주택 보유 여부
- loan           : 대출 여부
- contact        : 마지막 접촉 수단
- day            : 마지막 접촉 일자
- month          : 마지막 접촉 월
- duration       : 마지막 접촉 통화 시간
- campaign       : 이번 캠페인 동안 연락한 횟수
- pdays          : 마지막 연락 후 경과일
- previous       : 이전 캠페인에서 연락 횟수
- poutcome       : 이전 캠페인의 결과
- y              : 예금 가입 여부

입력변수  : 
출력 변수 : y

In [2]:
playground_df.shape

(750000, 18)

In [3]:
playground_df['job'].value_counts()

job
management       175541
blue-collar      170498
technician       138107
admin.            81492
services          64209
retired           35185
self-employed     19020
entrepreneur      17718
unemployed        17634
housemaid         15912
student           11767
unknown            2917
Name: count, dtype: int64

In [4]:
playground_df.isna().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [5]:
playground_df[['previous','campaign']].corr()

          previous  campaign
previous  1.000000 -0.026707
campaign -0.026707  1.000000

In [6]:
playground_df['poutcome'].value_counts().sort_values(ascending=False)

poutcome
unknown    672450
failure     45115
success     17691
other       14744
Name: count, dtype: int64

In [7]:
playground_df['pdays'].value_counts()

pdays
-1      672434
 182      2515
 92       2275
 183      2074
 181      1698
         ...
 735         1
 611         1
 714         1
 54          1
 376         1
Name: count, Length: 596, dtype: int64

In [8]:
playground_df.sort_values(by='age', ascending=False)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
283611,283611,95,retired,married,secondary,no,4984,no,no,telephone,26,oct,88,1,-1,0,unknown,0
557988,557988,95,retired,divorced,primary,no,852,no,no,telephone,1,apr,223,2,-1,0,unknown,1
551450,551450,95,retired,married,secondary,no,4657,no,no,telephone,31,mar,466,1,-1,0,unknown,1
164587,164587,94,retired,divorced,primary,no,1388,no,no,cellular,12,nov,212,1,-1,0,unknown,1
449210,449210,94,retired,married,unknown,no,12039,no,no,telephone,30,apr,516,4,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428100,428100,18,student,single,secondary,no,608,no,no,cellular,1,jun,425,1,-1,0,unknown,1
138704,138704,18,student,single,secondary,no,2143,no,no,cellular,6,jul,265,3,178,5,success,1
453343,453343,18,student,single,secondary,no,608,no,no,cellular,4,may,226,1,-1,0,unknown,1
445783,445783,18,admin.,single,secondary,no,696,yes,yes,cellular,13,may,474,2,-1,0,unknown,0
684519,684519,18,student,single,unknown,no,434,no,no,cellular,21,apr,169,1,-1,0,unknown,1

In [9]:
pd.DataFrame(playground_df[playground_df['pdays']==-1])

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749994,749994,31,housemaid,single,secondary,no,594,no,no,cellular,4,feb,137,1,-1,0,unknown,0
749995,749995,29,services,single,secondary,no,1282,no,yes,unknown,4,jul,1006,2,-1,0,unknown,1
749996,749996,69,retired,divorced,tertiary,no,631,no,no,cellular,19,aug,87,1,-1,0,unknown,0
749997,749997,50,blue-collar,married,secondary,no,217,yes,no,cellular,17,apr,113,1,-1,0,unknown,0
749998,749998,32,technician,married,secondary,no,-274,no,no,cellular,26,aug,108,6,-1,0,unknown,0

## 카이제곱 검정 시행

In [10]:
chi = ['marital','education','housing','loan','contact','month','poutcome']

In [11]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

for i in chi:
    ct = pd.crosstab(playground_df[i],playground_df['y'])
    chi2, p, _, _ = chi2_contingency(ct)
    print(f'== {i} vs y ==')
    print(ct)
    print(f'Chi2: {chi2:.3f}, p-value: {p:.8f}')
    print('\n')

== marital vs y ==
y              0      1
marital
divorced   66105   8302
married   431783  48976
single    161624  33210
Chi2: 6210.479, p-value: 0.00000000


== education vs y ==
y               0      1
education
primary     91241   8269
secondary  359309  42374
tertiary   190504  37004
unknown     18458   2841
Chi2: 6007.856, p-value: 0.00000000


== housing vs y ==
y             0      1
housing
no       279174  59538
yes      380338  30950
Chi2: 17691.305, p-value: 0.00000000


== loan vs y ==
y          0      1
loan
no    560281  84742
yes    99231   5746
Chi2: 4997.963, p-value: 0.00000000


== contact vs y ==
y               0      1
contact
cellular   410455  76200
telephone   27379   4339
unknown    221678   9949
Chi2: 19179.184, p-value: 0.00000000


== month vs y ==
y           0      1
month
apr     31582   9737
aug    114406  14453
dec      1007   1062
feb     29833   7778
jan     16586   2351
jul    100595  10052
jun     83954   9716
mar      2487   3315
may    212113  16298
nov     58808   7254
oct      4694   4510
sep      3447   3962
Chi2: 52281.905, p-value: 0.00000000


== poutcome vs y ==
y              0      1
poutcome
failure    39124   5991
other      12284   2460
success     4175  13516
unknown   603929  68521
Chi2: 71606.061, p-value: 0.00000000

데이터가 많아서 p-value값이 0이 나온 것 같긴 함                                       
그래도 통계적 유의성만 본다면 범주형 컬럼중에 제외시켜야 할 컬럼은 없는 것 같음

In [12]:
map_YN = ['default','housing','loan']
for col in map_YN:
    playground_df[col] = playground_df[col].map({
    'no' : 0,
    'yes' : 1
})

In [13]:
playground_df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,0,7,0,0,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,0,514,0,0,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,0,602,1,0,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,0,34,1,0,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,0,889,1,0,cellular,3,feb,902,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,749995,29,services,single,secondary,0,1282,0,1,unknown,4,jul,1006,2,-1,0,unknown,1
749996,749996,69,retired,divorced,tertiary,0,631,0,0,cellular,19,aug,87,1,-1,0,unknown,0
749997,749997,50,blue-collar,married,secondary,0,217,1,0,cellular,17,apr,113,1,-1,0,unknown,0
749998,749998,32,technician,married,secondary,0,-274,0,0,cellular,26,aug,108,6,-1,0,unknown,0
749999,749999,42,technician,married,secondary,0,1559,0,0,cellular,4,aug,143,1,1,7,failure,0

In [14]:
playground_df = pd.get_dummies(columns=['job','marital','education','contact','month','poutcome'],data=playground_df)

In [15]:
playground_df.shape

(750000, 50)

In [16]:
X = playground_df.drop(columns='id')
y = playground_df['y']

In [17]:
from sklearn.model_selection import train_test_split

X_train,X_val,y_train,y_val = train_test_split(X,y, test_size=0.2)

In [20]:
from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier()
models, predictions = clf.fit(X_train,X_val,y_train,y_val)
print(models.head(5))

  0%|          | 0/32 [00:00<?, ?it/s]

[LightGBM] [Info] Number of positive: 72362, number of negative: 527638
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.014541 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 967
[LightGBM] [Info] Number of data points in the train set: 600000, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.120603 -> initscore=-1.986729
[LightGBM] [Info] Start training from score -1.986729
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
                        Accuracy  Balanced Accuracy  ROC AUC  F1 Score  \
Model
AdaBoostClassifier          1.00               1.00     1.00      1.00
BaggingClassifier           1.00               1.00     1.00      1.00
BernoulliNB                 1.00               1.00     1.00      1.00
CalibratedClassifierCV      1.00               1.00     1.00      1.00
DecisionTreeClassifier      1.00               1.00     1.00      1.00

                        Time Taken
Model
AdaBoostClassifier            0.77
BaggingClassifier             3.28
BernoulliNB                   0.51
CalibratedClassifierCV        3.69
DecisionTreeClassifier        0.65

In [21]:
import optuna
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve
from sklearn.model_selection import cross_val_score, StratifiedKFold

def objective(trial):
    n_estimators = trial.suggest_int("n_estimators", 50, 500)
    learning_rate = trial.suggest_float("learning_rate", 0.01,1.0, log=True)
    max_depth = trial.suggest_int("max_depth", 1, 20)

    base_estimator = DecisionTreeClassifier(max_depth=max_depth)

    model = AdaBoostClassifier(
    estimator=base_estimator,
    n_estimators=n_estimators,
    learning_rate = learning_rate,
    random_state=2020158011
    )

    cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=2020158011)
    scores = cross_val_score(model,X_train,y_train, cv=cv, scoring='roc_auc')
    return scores.mean()

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=50)

print("best trial : ")
trial = study.best_trial
print(f" AUC score : {trial.value}")
print(f" Params   : {trial.params}")

[I 2025-08-08 14:11:08,494] A new study created in memory with name: no-name-c6634668-0487-4b93-8276-c5cec366b3ee
[W 2025-08-08 14:11:10,057] Trial 0 failed with parameters: {'n_estimators': 181, 'learning_rate': 0.15077231974341201, 'max_depth': 9} because of the following error: The value nan is not acceptable.
[W 2025-08-08 14:11:10,057] Trial 0 failed with value np.float64(nan).
[I 2025-08-08 14:11:13,701] Trial 1 finished with value: 1.0 and parameters: {'n_estimators': 390, 'learning_rate': 0.13765834454267595, 'max_depth': 13}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:17,515] Trial 2 finished with value: 1.0 and parameters: {'n_estimators': 146, 'learning_rate': 0.06571751180406651, 'max_depth': 19}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:21,224] Trial 3 finished with value: 1.0 and parameters: {'n_estimators': 389, 'learning_rate': 0.8080801660780079, 'max_depth': 12}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:24,926] Trial 4 finished with value: 1.0 and parameters: {'n_estimators': 284, 'learning_rate': 0.27614887506748964, 'max_depth': 4}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:28,637] Trial 5 finished with value: 1.0 and parameters: {'n_estimators': 299, 'learning_rate': 0.0775447370861605, 'max_depth': 11}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:32,323] Trial 6 finished with value: 1.0 and parameters: {'n_estimators': 448, 'learning_rate': 0.8250286561264323, 'max_depth': 20}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:36,018] Trial 7 finished with value: 1.0 and parameters: {'n_estimators': 496, 'learning_rate': 0.4516967650288495, 'max_depth': 17}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:39,700] Trial 8 finished with value: 1.0 and parameters: {'n_estimators': 171, 'learning_rate': 0.010854870338352621, 'max_depth': 8}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:43,375] Trial 9 finished with value: 1.0 and parameters: {'n_estimators': 480, 'learning_rate': 0.06566827811848998, 'max_depth': 10}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:47,153] Trial 10 finished with value: 1.0 and parameters: {'n_estimators': 60, 'learning_rate': 0.4707325353660337, 'max_depth': 1}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:50,884] Trial 11 finished with value: 1.0 and parameters: {'n_estimators': 365, 'learning_rate': 0.0248243944429818, 'max_depth': 15}. Best is trial 1 with value: 1.0.
[I 2025-08-08 14:11:54,678] Trial 12 finished with value: 1.0 and parameters: {'n_estimators': 149, 'learning_rate': 0.13656241618015486, 'max_depth': 20}. Best is trial 1 with value: 1.0.
[W 2025-08-08 14:11:56,947] Trial 13 failed with parameters: {'n_estimators': 196, 'learning_rate': 0.036332793561299544, 'max_depth': 15} because of the following error: The value nan is not acceptable.
[W 2025-08-08 14:11:56,949] Trial 13 failed with value np.float64(nan).
[W 2025-08-08 14:11:57,663] Trial 14 failed with parameters: {'n_estimators': 189, 'learning_rate': 0.03648089224847697, 'max_depth': 16} because of the following error: ValueError('\nAll the 5 fits failed.\nIt is very likely that your model is misconfigured.\nYou can try to debug the error by setting error_score=\'raise\'.\n\nBelow are more details about the failures:\n--------------------------------------------------------------------------------\n5 fits failed with the following error:\nTraceback (most recent call last):\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\model_selection\\_validation.py", line 859, in _fit_and_score\n    estimator.fit(X_train, y_train, **fit_params)\n    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\base.py", line 1363, in wrapper\n    return fit_method(estimator, *args, **kwargs)\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\ensemble\\_weight_boosting.py", line 130, in fit\n    X, y = validate_data(\n           ~~~~~~~~~~~~~^\n        self,\n        ^^^^^\n    ...<6 lines>...\n        y_numeric=is_regressor(self),\n        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\n    )\n    ^\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\utils\\validation.py", line 2971, in validate_data\n    X, y = check_X_y(X, y, **check_params)\n           ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\utils\\validation.py", line 1368, in check_X_y\n    X = check_array(\n        X,\n    ...<12 lines>...\n        input_name="X",\n    )\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\utils\\validation.py", line 1053, in check_array\n    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\sklearn\\utils\\_array_api.py", line 757, in _asarray_with_order\n    array = numpy.asarray(array, order=order, dtype=dtype)\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\pandas\\core\\generic.py", line 2165, in __array__\n    values = self._values\n             ^^^^^^^^^^^^\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\pandas\\core\\frame.py", line 1127, in _values\n    return ensure_wrapped_if_datetimelike(self.values)\n                                          ^^^^^^^^^^^\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\pandas\\core\\frame.py", line 12671, in values\n    return self._mgr.as_array()\n           ~~~~~~~~~~~~~~~~~~^^\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\pandas\\core\\internals\\managers.py", line 1694, in as_array\n    arr = self._interleave(dtype=dtype, na_value=na_value)\n  File "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages\\pandas\\core\\internals\\managers.py", line 1727, in _interleave\n    result = np.empty(self.shape, dtype=dtype)\nnumpy._core._exceptions._ArrayMemoryError: Unable to allocate 179. MiB for an array with shape (49, 480000) and data type int64\n').
Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\optuna\study\_optimize.py", line 201, in _run_trial
    value_or_values = func(trial)
  File "C:\Users\user\AppData\Local\Temp\ipykernel_19488\1961791224.py", line 22, in objective
    scores = cross_val_score(model,X_train,y_train, cv=cv, scoring='roc_auc')
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_param_validation.py", line 218, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 677, in cross_val_score
    cv_results = cross_validate(
        estimator=estimator,
    ...<9 lines>...
        error_score=error_score,
    )
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_param_validation.py", line 218, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 419, in cross_validate
    _warn_or_raise_about_fit_failures(results, error_score)
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 505, in _warn_or_raise_about_fit_failures
    raise ValueError(all_fits_failed_message)
ValueError:
All the 5 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 859, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py", line 1363, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\ensemble\_weight_boosting.py", line 130, in fit
    X, y = validate_data(
           ~~~~~~~~~~~~~^
        self,
        ^^^^^
    ...<6 lines>...
        y_numeric=is_regressor(self),
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py", line 2971, in validate_data
    X, y = check_X_y(X, y, **check_params)
           ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py", line 1368, in check_X_y
    X = check_array(
        X,
    ...<12 lines>...
        input_name="X",
    )
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py", line 1053, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_array_api.py", line 757, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\generic.py", line 2165, in __array__
    values = self._values
             ^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\frame.py", line 1127, in _values
    return ensure_wrapped_if_datetimelike(self.values)
                                          ^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\frame.py", line 12671, in values
    return self._mgr.as_array()
           ~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\internals\managers.py", line 1694, in as_array
    arr = self._interleave(dtype=dtype, na_value=na_value)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\internals\managers.py", line 1727, in _interleave
    result = np.empty(self.shape, dtype=dtype)
numpy._core._exceptions._ArrayMemoryError: Unable to allocate 179. MiB for an array with shape (49, 480000) and data type int64

[W 2025-08-08 14:11:57,698] Trial 14 failed with value None.

ValueError:
All the 5 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 859, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py", line 1363, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\ensemble\_weight_boosting.py", line 130, in fit
    X, y = validate_data(
           ~~~~~~~~~~~~~^
        self,
        ^^^^^
    ...<6 lines>...
        y_numeric=is_regressor(self),
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py", line 2971, in validate_data
    X, y = check_X_y(X, y, **check_params)
           ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py", line 1368, in check_X_y
    X = check_array(
        X,
    ...<12 lines>...
        input_name="X",
    )
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py", line 1053, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_array_api.py", line 757, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\generic.py", line 2165, in __array__
    values = self._values
             ^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\frame.py", line 1127, in _values
    return ensure_wrapped_if_datetimelike(self.values)
                                          ^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\frame.py", line 12671, in values
    return self._mgr.as_array()
           ~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\internals\managers.py", line 1694, in as_array
    arr = self._interleave(dtype=dtype, na_value=na_value)
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\internals\managers.py", line 1727, in _interleave
    result = np.empty(self.shape, dtype=dtype)
numpy._core._exceptions._ArrayMemoryError: Unable to allocate 179. MiB for an array with shape (49, 480000) and data type int64

In [ ]:
best_params = study.best_params
print(best_params)

In [ ]:
best_model = AdaBoostClassifier(**best_params)
best_model.fit(X,y)

## 테스트 데이터 전처리