In [1]:
import pandas as pd

playground_df = pd.read_csv('train.csv')
playground_df.head(10)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1
5,5,24,admin.,single,secondary,no,1882,yes,no,cellular,20,apr,1010,3,-1,0,unknown,0
6,6,39,blue-collar,married,secondary,no,0,no,no,telephone,21,nov,90,1,-1,0,unknown,0
7,7,50,admin.,single,secondary,no,1595,no,no,telephone,31,jul,49,25,-1,0,unknown,0
8,8,46,blue-collar,married,primary,no,1463,no,no,cellular,4,aug,50,1,-1,0,unknown,0
9,9,39,management,divorced,tertiary,no,25,yes,no,cellular,8,may,119,1,-1,0,unknown,0

## 컬럼 설명 
- id             : id 번호 
- age            : 나이
- job            : 직업
- marital        : 결혼 여부
- education      : 교육 수준
- default        : 신용 불량 여부         
- balance        : 계좌 잔고
- housing        : 주택 보유 여부
- loan           : 대출 여부
- contact        : 마지막 접촉 수단
- day            : 마지막 접촉 일자
- month          : 마지막 접촉 월
- duration       : 마지막 접촉 통화 시간
- campaign       : 이번 캠페인 동안 연락한 횟수
- pdays          : 마지막 연락 후 경과일
- previous       : 이전 캠페인에서 연락 횟수
- poutcome       : 이전 캠페인의 결과
- y              : 예금 가입 여부

입력변수  : 
출력 변수 : y

In [2]:
playground_df.shape

(750000, 18)

In [3]:
playground_df['job'].value_counts()

job
management       175541
blue-collar      170498
technician       138107
admin.            81492
services          64209
retired           35185
self-employed     19020
entrepreneur      17718
unemployed        17634
housemaid         15912
student           11767
unknown            2917
Name: count, dtype: int64

In [4]:
playground_df.isna().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [5]:
playground_df[['previous','campaign']].corr()

          previous  campaign
previous  1.000000 -0.026707
campaign -0.026707  1.000000

In [6]:
playground_df['poutcome'].value_counts().sort_values(ascending=False)

poutcome
unknown    672450
failure     45115
success     17691
other       14744
Name: count, dtype: int64

In [7]:
playground_df['pdays'].value_counts()

pdays
-1      672434
 182      2515
 92       2275
 183      2074
 181      1698
         ...
 735         1
 611         1
 714         1
 54          1
 376         1
Name: count, Length: 596, dtype: int64

In [8]:
playground_df.sort_values(by='age', ascending=False)

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
283611,283611,95,retired,married,secondary,no,4984,no,no,telephone,26,oct,88,1,-1,0,unknown,0
557988,557988,95,retired,divorced,primary,no,852,no,no,telephone,1,apr,223,2,-1,0,unknown,1
551450,551450,95,retired,married,secondary,no,4657,no,no,telephone,31,mar,466,1,-1,0,unknown,1
164587,164587,94,retired,divorced,primary,no,1388,no,no,cellular,12,nov,212,1,-1,0,unknown,1
449210,449210,94,retired,married,unknown,no,12039,no,no,telephone,30,apr,516,4,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428100,428100,18,student,single,secondary,no,608,no,no,cellular,1,jun,425,1,-1,0,unknown,1
138704,138704,18,student,single,secondary,no,2143,no,no,cellular,6,jul,265,3,178,5,success,1
453343,453343,18,student,single,secondary,no,608,no,no,cellular,4,may,226,1,-1,0,unknown,1
445783,445783,18,admin.,single,secondary,no,696,yes,yes,cellular,13,may,474,2,-1,0,unknown,0
684519,684519,18,student,single,unknown,no,434,no,no,cellular,21,apr,169,1,-1,0,unknown,1

In [9]:
pd.DataFrame(playground_df[playground_df['pdays']==-1])

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749994,749994,31,housemaid,single,secondary,no,594,no,no,cellular,4,feb,137,1,-1,0,unknown,0
749995,749995,29,services,single,secondary,no,1282,no,yes,unknown,4,jul,1006,2,-1,0,unknown,1
749996,749996,69,retired,divorced,tertiary,no,631,no,no,cellular,19,aug,87,1,-1,0,unknown,0
749997,749997,50,blue-collar,married,secondary,no,217,yes,no,cellular,17,apr,113,1,-1,0,unknown,0
749998,749998,32,technician,married,secondary,no,-274,no,no,cellular,26,aug,108,6,-1,0,unknown,0

## 카이제곱 검정 시행

In [10]:
chi = ['marital','education','housing','loan','contact','month','poutcome']

In [11]:
import scipy.stats as stats
from scipy.stats import chi2_contingency

for i in chi:
    ct = pd.crosstab(playground_df[i],playground_df['y'])
    chi2, p, _, _ = chi2_contingency(ct)
    print(f'== {i} vs y ==')
    print(ct)
    print(f'Chi2: {chi2:.3f}, p-value: {p:.8f}')
    print('\n')

== marital vs y ==
y              0      1
marital
divorced   66105   8302
married   431783  48976
single    161624  33210
Chi2: 6210.479, p-value: 0.00000000


== education vs y ==
y               0      1
education
primary     91241   8269
secondary  359309  42374
tertiary   190504  37004
unknown     18458   2841
Chi2: 6007.856, p-value: 0.00000000


== housing vs y ==
y             0      1
housing
no       279174  59538
yes      380338  30950
Chi2: 17691.305, p-value: 0.00000000


== loan vs y ==
y          0      1
loan
no    560281  84742
yes    99231   5746
Chi2: 4997.963, p-value: 0.00000000


== contact vs y ==
y               0      1
contact
cellular   410455  76200
telephone   27379   4339
unknown    221678   9949
Chi2: 19179.184, p-value: 0.00000000


== month vs y ==
y           0      1
month
apr     31582   9737
aug    114406  14453
dec      1007   1062
feb     29833   7778
jan     16586   2351
jul    100595  10052
jun     83954   9716
mar      2487   3315
may    212113  16298
nov     58808   7254
oct      4694   4510
sep      3447   3962
Chi2: 52281.905, p-value: 0.00000000


== poutcome vs y ==
y              0      1
poutcome
failure    39124   5991
other      12284   2460
success     4175  13516
unknown   603929  68521
Chi2: 71606.061, p-value: 0.00000000

데이터가 많아서 p-value값이 0이 나온 것 같긴 함                                       
그래도 통계적 유의성만 본다면 범주형 컬럼중에 제외시켜야 할 컬럼은 없는 것 같음

In [12]:
map_YN = ['default','housing','loan']
for col in map_YN:
    playground_df[col] = playground_df[col].map({
    'no' : 0,
    'yes' : 1
})

In [13]:
playground_df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,0,7,0,0,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,0,514,0,0,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,0,602,1,0,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,0,34,1,0,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,0,889,1,0,cellular,3,feb,902,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,749995,29,services,single,secondary,0,1282,0,1,unknown,4,jul,1006,2,-1,0,unknown,1
749996,749996,69,retired,divorced,tertiary,0,631,0,0,cellular,19,aug,87,1,-1,0,unknown,0
749997,749997,50,blue-collar,married,secondary,0,217,1,0,cellular,17,apr,113,1,-1,0,unknown,0
749998,749998,32,technician,married,secondary,0,-274,0,0,cellular,26,aug,108,6,-1,0,unknown,0
749999,749999,42,technician,married,secondary,0,1559,0,0,cellular,4,aug,143,1,1,7,failure,0

In [15]:
test_df = pd.read_csv('test.csv')

In [16]:
full_df = pd.concat([playground_df,test_df],axis=0)
full_df= pd.get_dummies(full_df, columns = ['job','marital','education','contact','month','poutcome'])
train_df = full_df.iloc[:len(playground_df)]
test_df = full_df.iloc[len(playground_df)]

In [17]:
full_df.shape

(1000000, 50)

In [18]:
X = train_df.drop(columns=['id','y'])
y = train_df['y']

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_val,y_train,y_val = train_test_split(X,y, test_size=0.2)

In [18]:
'''from lazypredict.Supervised import LazyClassifier

clf = LazyClassifier()
models, predictions = clf.fit(X_train,X_val,y_train,y_val)
print(models.head(5))'''

'from lazypredict.Supervised import LazyClassifier\n\nclf = LazyClassifier()\nmodels, predictions = clf.fit(X_train,X_val,y_train,y_val)\nprint(models.head(5))'

In [34]:
test_df.head(5)

              0
id       750000
age          32
default      no
balance    1397
housing     yes

In [20]:
import optuna
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve
from sklearn.model_selection import cross_val_score, StratifiedKFold

def objective(trial):
    n_estimators = trial.suggest_int("n_estimators", 50, 500)
    learning_rate = trial.suggest_float("learning_rate", 0.01,1.0, log=True)
    #max_depth = trial.suggest_int("max_depth", 1, 20)

    base_estimator = DecisionTreeClassifier()

    model = AdaBoostClassifier(
    estimator=base_estimator,
    n_estimators=n_estimators,
    learning_rate = learning_rate,
    random_state=2020158011
    )

    cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=2020158011)
    scores = cross_val_score(model,X_train,y_train, cv=cv, scoring='roc_auc')
    return scores.mean()

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=50)

print("best trial : ")
trial = study.best_trial
print(f" AUC score : {trial.value}")
print(f" Params   : {trial.params}")

[I 2025-08-14 09:16:47,563] A new study created in memory with name: no-name-96cdff2d-1719-482e-898a-3b8fbdc23acd
[I 2025-08-14 09:17:42,828] Trial 0 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 357, 'learning_rate': 0.017685534365717355}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:18:37,123] Trial 1 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 375, 'learning_rate': 0.04784599414568437}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:19:28,565] Trial 2 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 359, 'learning_rate': 0.6589246512363062}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:20:20,290] Trial 3 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 80, 'learning_rate': 0.3631508835460752}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:21:11,441] Trial 4 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 260, 'learning_rate': 0.2791210656459559}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:22:03,242] Trial 5 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 104, 'learning_rate': 0.6691107133169905}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:23:02,114] Trial 6 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 129, 'learning_rate': 0.8361473247850804}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:23:52,505] Trial 7 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 149, 'learning_rate': 0.12224978719029134}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:24:42,468] Trial 8 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 263, 'learning_rate': 0.4455721109458974}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:25:32,317] Trial 9 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 337, 'learning_rate': 0.06769015188641765}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:26:22,524] Trial 10 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 495, 'learning_rate': 0.010775720448251026}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:27:13,233] Trial 11 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 470, 'learning_rate': 0.019964190306857414}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:28:02,569] Trial 12 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 381, 'learning_rate': 0.0373270208356809}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:28:52,111] Trial 13 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 383, 'learning_rate': 0.029298572010464114}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:29:42,294] Trial 14 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 215, 'learning_rate': 0.010445658956421642}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:30:32,163] Trial 15 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 434, 'learning_rate': 0.07409112964160319}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:31:21,996] Trial 16 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 319, 'learning_rate': 0.14651077913716884}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:32:12,006] Trial 17 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 428, 'learning_rate': 0.041267222081654405}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:33:02,131] Trial 18 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 295, 'learning_rate': 0.019456819557064624}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:33:51,992] Trial 19 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 210, 'learning_rate': 0.01883086353447563}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:34:41,932] Trial 20 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 409, 'learning_rate': 0.05981193350280825}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:35:31,874] Trial 21 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 353, 'learning_rate': 0.199417223028851}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:36:21,272] Trial 22 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 362, 'learning_rate': 0.029436037770097387}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:37:10,971] Trial 23 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 309, 'learning_rate': 0.09313583588638277}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:38:00,891] Trial 24 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 442, 'learning_rate': 0.0499141854494851}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:38:50,564] Trial 25 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 392, 'learning_rate': 0.01499536764178161}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:39:40,505] Trial 26 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 223, 'learning_rate': 0.19137405327578785}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:40:30,458] Trial 27 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 336, 'learning_rate': 0.030125045613181564}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:41:20,391] Trial 28 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 289, 'learning_rate': 0.5262447155549941}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:42:10,538] Trial 29 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 462, 'learning_rate': 0.9294548262119485}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:43:00,437] Trial 30 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 409, 'learning_rate': 0.30403505341401404}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:43:50,098] Trial 31 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 52, 'learning_rate': 0.3417564746703133}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:44:41,082] Trial 32 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 248, 'learning_rate': 0.6017408856548356}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:45:32,309] Trial 33 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 176, 'learning_rate': 0.24600358160701813}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:46:22,733] Trial 34 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 69, 'learning_rate': 0.7965275753325055}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:47:12,780] Trial 35 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 368, 'learning_rate': 0.43600328297528523}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:48:02,936] Trial 36 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 106, 'learning_rate': 0.12144671157881429}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:48:52,994] Trial 37 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 251, 'learning_rate': 0.378975370790283}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:49:45,459] Trial 38 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 169, 'learning_rate': 0.7282701674991853}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:50:36,452] Trial 39 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 333, 'learning_rate': 0.08871292225615028}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:51:26,032] Trial 40 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 275, 'learning_rate': 0.013770903006798549}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:52:15,880] Trial 41 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 143, 'learning_rate': 0.28460425967041164}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:53:05,335] Trial 42 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 93, 'learning_rate': 0.56309833243287}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:53:55,000] Trial 43 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 400, 'learning_rate': 0.4149881996136051}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:54:45,992] Trial 44 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 355, 'learning_rate': 0.21741687341322138}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:55:37,196] Trial 45 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 320, 'learning_rate': 0.16775635662469507}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:56:35,726] Trial 46 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 193, 'learning_rate': 0.49433641570959286}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:57:26,101] Trial 47 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 492, 'learning_rate': 0.11613401272351458}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:58:16,862] Trial 48 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 382, 'learning_rate': 0.025188671203956268}. Best is trial 0 with value: 0.7827681856307465.
[I 2025-08-14 09:59:07,687] Trial 49 finished with value: 0.7827681856307465 and parameters: {'n_estimators': 428, 'learning_rate': 0.05196038922009267}. Best is trial 0 with value: 0.7827681856307465.

best trial :
 AUC score : 0.7827681856307465
 Params   : {'n_estimators': 357, 'learning_rate': 0.017685534365717355}

In [21]:
best_params = study.best_params
print(best_params)

{'n_estimators': 357, 'learning_rate': 0.017685534365717355}

In [22]:
best_model = AdaBoostClassifier(**best_params)
best_model.fit(X,y)

AdaBoostClassifier(learning_rate=0.017685534365717355, n_estimators=357)

In [31]:
test_df = pd.DataFrame(test_df)

In [33]:
test_df.head()

              0
id       750000
age          32
default      no
balance    1397
housing     yes

In [32]:
X_test = test_df.drop(columns='id')
y_test_pred = best_model.predict(X_test)

KeyError: "['id'] not found in axis"

In [23]:
X_test = test_df.drop(columns='id')
y_test_pred = best_model.predict(X_test)

submission = pd.DataFrame({
    'id' : test_df['id'],
    'y' : y_test_pred
})
submission.to_csv('submission.csv',index = False)

C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [42]:
sub1 = pd.read_csv('submission.csv')

In [45]:
sub1['y'].value_counts()

y
0    250000
Name: count, dtype: int64

In [27]:
sub = pd.read_csv('sample_submission.csv')
sub.head(5)

       id    y
0  750000  0.5
1  750001  0.5
2  750002  0.5
3  750003  0.5
4  750004  0.5