# 피자 가게 데이터 분석

## 데이터 불러오기

In [1]:
import pandas as pd

In [3]:
orders_df = pd.read_csv('orders.csv')

In [5]:
pizza_types_df = pd.read_csv('pizza_types.csv')

In [6]:
pizzas_df = pd.read_csv('pizzas.csv')

#### order_id : 주문 아이디
#### order_timestamp : 주문 일시
#### order_details_id : 상세 주문 아이디
#### pizza_id : 피자 아이디
#### quantity : 수량

In [23]:
orders_df.head(10)

   order_id      order_timestamp  order_details_id         pizza_id  quantity
0         1  2023-01-01 11:45:11                 1       hawaiian_m         1
1         2  2023-01-01 11:53:26                 2       big_meat_l         1
2         2  2023-01-01 11:53:26                 3    classic_dlx_m         1
3         2  2023-01-01 11:53:26                 4    five_cheese_l         1
4         2  2023-01-01 11:53:26                 5         potato_m         1
5         2  2023-01-01 11:53:26                 6       thai_ckn_l         1
6         3  2023-01-01 11:54:22                 7      pepperoni_l         1
7         3  2023-01-01 11:54:22                 8  super_supreme_m         1
8         4  2023-01-01 12:09:18                 9       big_meat_m         1
9         5  2023-01-01 12:15:29                10  super_supreme_m         1

In [25]:
pizzas_df.head(10)

        pizza_id  pizza_name size  price
0      bbq_ckn_s   바비큐 치킨 피자    S  11300
1      bbq_ckn_m   바비큐 치킨 피자    M  22000
2      bbq_ckn_l   바비큐 치킨 피자    L  34000
3     thai_ckn_s    타이 치킨 피자    S  12300
4     thai_ckn_m    타이 치킨 피자    M  24000
5     thai_ckn_l    타이 치킨 피자    L  36800
6     big_meat_s     빅 미트 피자    S  11300
7     big_meat_m     빅 미트 피자    M  22000
8     big_meat_l     빅 미트 피자    L  34000
9  classic_dlx_s  클래식 디럭스 피자    S  10800

In [26]:
pizza_types_df.head(10)

    pizza_name category                           ingredients
0    바비큐 치킨 피자       치킨              치킨, 피망, 토마토, 적양파, 바비큐 소스
1     타이 치킨 피자       치킨           치킨, 파인애플, 토마토, 피망, 타이 칠리 소스
2      빅 미트 피자      클래식              베이컨, 토마토, 페퍼로니, 살라미, 초리조
3   클래식 디럭스 피자      클래식           토마토, 페퍼로니, 버섯, 적양파, 피망, 베이컨
4    슈퍼 슈프림 피자      클래식       페퍼로니, 토마토, 적양파, 그린 올리브, 옥수수, 마늘
5      페퍼로니 피자      클래식                    토마토, 모짜렐라 치즈, 페퍼로니
6      포테이토 피자      스페셜  모짜렐라 치즈, 토마토, 감자, 양파, 베이컨, 옥수수, 마요네즈
7      하와이안 피자      스페셜               토마토, 베이컨, 파인애플, 모짜렐라 치즈
8       불고기 피자      스페셜      불고기, 불고기 소스, 버섯, 양파, 피망, 모짜렐라 치즈
9  프로슈토 루꼴라 피자      스페셜                    프로슈토, 루꼴라, 모짜렐라 치즈

## 데이터 전처리

In [38]:
merged_order_pizza = pd.merge(orders_df,pizzas_df, how='left', on='pizza_id')
merged_order_pizza.head()

,order_id,order_timestamp,order_details_id,pizza_id,quantity,pizza_name,size,price
0,1,2023-01-01 11:45:11,1,hawaiian_m,1,하와이안 피자,M,21800
1,2,2023-01-01 11:53:26,2,big_meat_l,1,빅 미트 피자,L,34000
2,2,2023-01-01 11:53:26,3,classic_dlx_m,1,클래식 디럭스 피자,M,20300
3,2,2023-01-01 11:53:26,4,five_cheese_l,1,파이브 치즈 피자,L,31000
4,2,2023-01-01 11:53:26,5,potato_m,1,포테이토 피자,M,21800

In [39]:
merged_order_pizza['total_price'] = merged_order_pizza['quantity'] * merged_order_pizza['price']
merged_order_pizza = merged_order_pizza.rename(columns={'price' : 'unit_price'})   
merged_order_pizza.head(10)

,order_id,order_timestamp,order_details_id,pizza_id,quantity,pizza_name,size,unit_price,total_price
0,1,2023-01-01 11:45:11,1,hawaiian_m,1,하와이안 피자,M,21800,21800
1,2,2023-01-01 11:53:26,2,big_meat_l,1,빅 미트 피자,L,34000,34000
2,2,2023-01-01 11:53:26,3,classic_dlx_m,1,클래식 디럭스 피자,M,20300,20300
3,2,2023-01-01 11:53:26,4,five_cheese_l,1,파이브 치즈 피자,L,31000,31000
4,2,2023-01-01 11:53:26,5,potato_m,1,포테이토 피자,M,21800,21800
5,2,2023-01-01 11:53:26,6,thai_ckn_l,1,타이 치킨 피자,L,36800,36800
6,3,2023-01-01 11:54:22,7,pepperoni_l,1,페퍼로니 피자,L,28300,28300
7,3,2023-01-01 11:54:22,8,super_supreme_m,1,슈퍼 슈프림 피자,M,20300,20300
8,4,2023-01-01 12:09:18,9,big_meat_m,1,빅 미트 피자,M,22000,22000
9,5,2023-01-01 12:15:29,10,super_supreme_m,1,슈퍼 슈프림 피자,M,20300,20300

In [46]:
pizza_orders_df = pd.merge(merged_order_pizza,pizza_types_df, how='left', on='pizza_name')
pizza_orders_df.head()

,order_id,order_timestamp,order_details_id,pizza_id,quantity,pizza_name,size,unit_price,total_price,category,ingredients
0,1,2023-01-01 11:45:11,1,hawaiian_m,1,하와이안 피자,M,21800,21800,스페셜,"토마토, 베이컨, 파인애플, 모짜렐라 치즈"
1,2,2023-01-01 11:53:26,2,big_meat_l,1,빅 미트 피자,L,34000,34000,클래식,"베이컨, 토마토, 페퍼로니, 살라미, 초리조"
2,2,2023-01-01 11:53:26,3,classic_dlx_m,1,클래식 디럭스 피자,M,20300,20300,클래식,"토마토, 페퍼로니, 버섯, 적양파, 피망, 베이컨"
3,2,2023-01-01 11:53:26,4,five_cheese_l,1,파이브 치즈 피자,L,31000,31000,베지테리언,"모짜렐라 치즈, 프로볼로네 치즈, 고다 치즈, 페코리노 치즈, 고르곤졸라 치즈"
4,2,2023-01-01 11:53:26,5,potato_m,1,포테이토 피자,M,21800,21800,스페셜,"모짜렐라 치즈, 토마토, 감자, 양파, 베이컨, 옥수수, 마요네즈"

## 데이터 탐색하기

In [48]:
pizza_orders_df.shape

(47079, 11)

In [49]:
pizza_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47079 entries, 0 to 47078
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          47079 non-null  int64
 1   order_timestamp   47079 non-null  object
 2   order_details_id  47079 non-null  int64
 3   pizza_id          47079 non-null  object
 4   quantity          47079 non-null  int64
 5   pizza_name        47079 non-null  object
 6   size              47079 non-null  object
 7   unit_price        47079 non-null  int64
 8   total_price       47079 non-null  int64
 9   category          47079 non-null  object
 10  ingredients       47079 non-null  object
dtypes: int64(5), object(6)
memory usage: 4.0+ MB

In [51]:
pizza_orders_df.describe(include='all')

,order_id,order_timestamp,order_details_id,pizza_id,quantity,pizza_name,size,unit_price,total_price,category,ingredients
count,47079.000000,47079,47079.000000,47079,47079.000000,47079,47079,47079.000000,47079.000000,47079,47079
unique,NaN,21350,NaN,39,NaN,13,3,NaN,NaN,4,13
top,NaN,2023-11-18 21:10:53,NaN,thai_ckn_l,NaN,하와이안 피자,L,NaN,NaN,클래식,"토마토, 베이컨, 파인애플, 모짜렐라 치즈"
freq,NaN,19,NaN,2495,NaN,5909,18378,NaN,NaN,17437,5909
mean,10708.712058,NaN,23540.000000,NaN,1.052996,NaN,NaN,22945.597825,24233.356698,NaN,NaN
std,6175.450615,NaN,13590.680998,NaN,0.242338,NaN,NaN,9376.523771,11887.470629,NaN,NaN
min,1.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,9300.000000,9300.000000,NaN,NaN
25%,5352.500000,NaN,11770.500000,NaN,1.000000,NaN,NaN,11300.000000,12300.000000,NaN,NaN
50%,10696.000000,NaN,23540.000000,NaN,1.000000,NaN,NaN,21800.000000,22000.000000,NaN,NaN
75%,16100.500000,NaN,35309.500000,NaN,1.000000,NaN,NaN,32300.000000,33800.000000,NaN,NaN
max,21350.000000,NaN,47079.000000,NaN,5.000000,NaN,NaN,38800.000000,169000.000000,NaN,NaN

In [54]:
print(pizza_orders_df['pizza_name'].unique())
print(pizza_orders_df['size'].unique())
print(pizza_orders_df['category'].unique())

['하와이안 피자' '빅 미트 피자' '클래식 디럭스 피자' '파이브 치즈 피자' '포테이토 피자' '타이 치킨 피자'
 '페퍼로니 피자' '슈퍼 슈프림 피자' '바비큐 치킨 피자' '프로슈토 루꼴라 피자' '그린 가든 피자' '시금치 페스토 피자'
 '불고기 피자']
['M' 'L' 'S']
['스페셜' '클래식' '베지테리언' '치킨']

In [56]:
pizza_orders_df['order_timestamp'] = pd.to_datetime(pizza_orders_df['order_timestamp'])
pizza_orders_df['order_timestamp'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 47079 entries, 0 to 47078
Series name: order_timestamp
Non-Null Count  Dtype
--------------  -----
47079 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 367.9 KB

In [57]:
print('첫 주문 일시:', pizza_orders_df['order_timestamp'].min())
print('마지막 주문 일시:', pizza_orders_df['order_timestamp'].max())

첫 주문 일시: 2023-01-01 11:45:11
마지막 주문 일시: 2023-12-31 21:56:56