In [1]:
import pandas as pd
import os

In [2]:
# 현재 경로 확인
os.getcwd()

'C:\\workspaces\\전처리 데이터'

In [3]:
# 데이터 불러오기
df = pd.read_csv('보훈대상자 평균 개인소득 2018.csv')
df.head()

,Unnamed: 0,C1_OBJ_NM,C2_NM,DT,C1_NM,UNIT_NM,ITM_NM,C2_OBJ_NM,TBL_NM
0,0,특성별,전체(경상소득),2460,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
1,1,특성별,근로소득,692,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
2,2,특성별,사업소득,278,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
3,3,특성별,재산소득,137,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득
4,4,특성별,사적이전소득,100,전체,만원,보훈대상자 평균 개인소득,소득별,보훈대상자 평균 개인소득

In [4]:
# 불필요한 컬럼 제거
rem = ['Unnamed: 0','C1_OBJ_NM','UNIT_NM','ITM_NM','C2_OBJ_NM']

df.drop(columns = rem, inplace = True)
df

        C2_NM    DT    C1_NM         TBL_NM
0    전체(경상소득)  2460       전체  보훈대상자 평균 개인소득
1        근로소득   692       전체  보훈대상자 평균 개인소득
2        사업소득   278       전체  보훈대상자 평균 개인소득
3        재산소득   137       전체  보훈대상자 평균 개인소득
4      사적이전소득   100       전체  보훈대상자 평균 개인소득
..        ...   ...      ...            ...
97       근로소득  1476  보훈보상대상자  보훈대상자 평균 개인소득
98       사업소득   405  보훈보상대상자  보훈대상자 평균 개인소득
99       재산소득    39  보훈보상대상자  보훈대상자 평균 개인소득
100    사적이전소득    54  보훈보상대상자  보훈대상자 평균 개인소득
101    공적이전소득  1092  보훈보상대상자  보훈대상자 평균 개인소득

[102 rows x 4 columns]

In [5]:
# 인덱스 C1_NM으로 설정
df.set_index('C1_NM',inplace=True)

In [6]:
df

            C2_NM    DT         TBL_NM
C1_NM
전체       전체(경상소득)  2460  보훈대상자 평균 개인소득
전체           근로소득   692  보훈대상자 평균 개인소득
전체           사업소득   278  보훈대상자 평균 개인소득
전체           재산소득   137  보훈대상자 평균 개인소득
전체         사적이전소득   100  보훈대상자 평균 개인소득
...           ...   ...            ...
보훈보상대상자      근로소득  1476  보훈대상자 평균 개인소득
보훈보상대상자      사업소득   405  보훈대상자 평균 개인소득
보훈보상대상자      재산소득    39  보훈대상자 평균 개인소득
보훈보상대상자    사적이전소득    54  보훈대상자 평균 개인소득
보훈보상대상자    공적이전소득  1092  보훈대상자 평균 개인소득

[102 rows x 3 columns]

In [7]:
#인덱스 고유값 확인 
df.index.unique()

Index(['전체', '남성', '여성', '40대 이하', '50대', '60대', '70대', '80대 이상', '독립유공자',
       '국가유공자(본인)', '국가유공자(유족)', '5·18민주유공자', '참전유공자', '고엽제', '특수임무유공자',
       '제대군인', '보훈보상대상자'],
      dtype='object', name='C1_NM')

In [8]:
# 특정 인덱스 애들 꺼내서 데이터프레임을 만듦
man = ['국가유공자(본인)', '국가유공자(유족)', '고엽제', '참전유공자', '특수임무유공자']

dfs = df.loc[df.index.isin(man)]

In [9]:
dfs.index.unique()

Index(['국가유공자(본인)', '국가유공자(유족)', '참전유공자', '고엽제', '특수임무유공자'], dtype='object', name='C1_NM')

In [10]:
# 연도 컬럼 생성하기. 연도 옆에 row 수 만큼 곱해주면됌
연도 = [2018] * 30

In [11]:
dfs['연도'] = 연도

C:\Users\dino1\AppData\Local\Temp\ipykernel_21368\4164005312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs['연도'] = 연도

In [12]:
dfs

              C2_NM    DT         TBL_NM    연도
C1_NM
국가유공자(본인)  전체(경상소득)  4253  보훈대상자 평균 개인소득  2018
국가유공자(본인)      근로소득  1634  보훈대상자 평균 개인소득  2018
국가유공자(본인)      사업소득   484  보훈대상자 평균 개인소득  2018
국가유공자(본인)      재산소득   164  보훈대상자 평균 개인소득  2018
국가유공자(본인)    사적이전소득    57  보훈대상자 평균 개인소득  2018
국가유공자(본인)    공적이전소득  1914  보훈대상자 평균 개인소득  2018
국가유공자(유족)  전체(경상소득)  2026  보훈대상자 평균 개인소득  2018
국가유공자(유족)      근로소득   521  보훈대상자 평균 개인소득  2018
국가유공자(유족)      사업소득   249  보훈대상자 평균 개인소득  2018
국가유공자(유족)      재산소득   108  보훈대상자 평균 개인소득  2018
국가유공자(유족)    사적이전소득   103  보훈대상자 평균 개인소득  2018
국가유공자(유족)    공적이전소득  1044  보훈대상자 평균 개인소득  2018
참전유공자      전체(경상소득)  1838  보훈대상자 평균 개인소득  2018
참전유공자          근로소득   205  보훈대상자 평균 개인소득  2018
참전유공자          사업소득   227  보훈대상자 평균 개인소득  2018
참전유공자          재산소득   153  보훈대상자 평균 개인소득  2018
참전유공자        사적이전소득   120  보훈대상자 평균 개인소득  2018
참전유공자        공적이전소득  1133  보훈대상자 평균 개인소득  2018
고엽제        전체(경상소득)  2301  보훈대상자 평균 개인소득  2018
고엽제            근로소득   216  보훈대상자 평균 개인소득  2018
고엽제            사업소득   214  보훈대상자 평균 개인소득  2018
고엽제            재산소득   105  보훈대상자 평균 개인소득  2018
고엽제          사적이전소득    76  보훈대상자 평균 개인소득  2018
고엽제          공적이전소득  1690  보훈대상자 평균 개인소득  2018
특수임무유공자    전체(경상소득)  3274  보훈대상자 평균 개인소득  2018
특수임무유공자        근로소득  2076  보훈대상자 평균 개인소득  2018
특수임무유공자        사업소득   368  보훈대상자 평균 개인소득  2018
특수임무유공자        재산소득   126  보훈대상자 평균 개인소득  2018
특수임무유공자      사적이전소득    84  보훈대상자 평균 개인소득  2018
특수임무유공자      공적이전소득   620  보훈대상자 평균 개인소득  2018

In [13]:
# 컬럼 명 변경
dfs = dfs.rename(columns={
    "C2_NM": "소득종류",
    "DT": "소득",
    "TBL_NM": "테이블명",
    "연도": "연도"
})
dfs.index.name = "구분"
dfs

               소득종류    소득           테이블명    연도
구분
국가유공자(본인)  전체(경상소득)  4253  보훈대상자 평균 개인소득  2018
국가유공자(본인)      근로소득  1634  보훈대상자 평균 개인소득  2018
국가유공자(본인)      사업소득   484  보훈대상자 평균 개인소득  2018
국가유공자(본인)      재산소득   164  보훈대상자 평균 개인소득  2018
국가유공자(본인)    사적이전소득    57  보훈대상자 평균 개인소득  2018
국가유공자(본인)    공적이전소득  1914  보훈대상자 평균 개인소득  2018
국가유공자(유족)  전체(경상소득)  2026  보훈대상자 평균 개인소득  2018
국가유공자(유족)      근로소득   521  보훈대상자 평균 개인소득  2018
국가유공자(유족)      사업소득   249  보훈대상자 평균 개인소득  2018
국가유공자(유족)      재산소득   108  보훈대상자 평균 개인소득  2018
국가유공자(유족)    사적이전소득   103  보훈대상자 평균 개인소득  2018
국가유공자(유족)    공적이전소득  1044  보훈대상자 평균 개인소득  2018
참전유공자      전체(경상소득)  1838  보훈대상자 평균 개인소득  2018
참전유공자          근로소득   205  보훈대상자 평균 개인소득  2018
참전유공자          사업소득   227  보훈대상자 평균 개인소득  2018
참전유공자          재산소득   153  보훈대상자 평균 개인소득  2018
참전유공자        사적이전소득   120  보훈대상자 평균 개인소득  2018
참전유공자        공적이전소득  1133  보훈대상자 평균 개인소득  2018
고엽제        전체(경상소득)  2301  보훈대상자 평균 개인소득  2018
고엽제            근로소득   216  보훈대상자 평균 개인소득  2018
고엽제            사업소득   214  보훈대상자 평균 개인소득  2018
고엽제            재산소득   105  보훈대상자 평균 개인소득  2018
고엽제          사적이전소득    76  보훈대상자 평균 개인소득  2018
고엽제          공적이전소득  1690  보훈대상자 평균 개인소득  2018
특수임무유공자    전체(경상소득)  3274  보훈대상자 평균 개인소득  2018
특수임무유공자        근로소득  2076  보훈대상자 평균 개인소득  2018
특수임무유공자        사업소득   368  보훈대상자 평균 개인소득  2018
특수임무유공자        재산소득   126  보훈대상자 평균 개인소득  2018
특수임무유공자      사적이전소득    84  보훈대상자 평균 개인소득  2018
특수임무유공자      공적이전소득   620  보훈대상자 평균 개인소득  2018

In [14]:
# csv로 파일 저
dfs.to_csv('보훈대상자 평균 개인소득 2018 전처리.csv')